#Basic mode

(1 punto) Imprime “Hello world” 73 veces

In [2]:
for i in range (1,74):
    print (f'{i} - hello world')

1 - hello world
2 - hello world
3 - hello world
4 - hello world
5 - hello world
6 - hello world
7 - hello world
8 - hello world
9 - hello world
10 - hello world
11 - hello world
12 - hello world
13 - hello world
14 - hello world
15 - hello world
16 - hello world
17 - hello world
18 - hello world
19 - hello world
20 - hello world
21 - hello world
22 - hello world
23 - hello world
24 - hello world
25 - hello world
26 - hello world
27 - hello world
28 - hello world
29 - hello world
30 - hello world
31 - hello world
32 - hello world
33 - hello world
34 - hello world
35 - hello world
36 - hello world
37 - hello world
38 - hello world
39 - hello world
40 - hello world
41 - hello world
42 - hello world
43 - hello world
44 - hello world
45 - hello world
46 - hello world
47 - hello world
48 - hello world
49 - hello world
50 - hello world
51 - hello world
52 - hello world
53 - hello world
54 - hello world
55 - hello world
56 - hello world
57 - hello world
58 - hello world
59 - hello world
60 - hello world
61 - hello world
62 - hello world
63 - hello world
64 - hello world
65 - hello world
66 - hello world
67 - hello world
68 - hello world
69 - hello world
70 - hello world
71 - hello world
72 - hello world
73 - hello world

 (1 punto) Crea un programa en python que devuelva el valor del septuagésimo tercer (73º) 
número de la serie de Fibonacci.

In [6]:
conteo = 0

i = 0
fibo = 0
nacchi = 1
while i < 73:
    nacchi += fibo #nacchi += fibo + nacchi esto es lo mismo
    fibo = nacchi-fibo
    i += 1
print( i,nacchi)

73 1304969544928657

(3 puntos) Crea un data frame en pandas con 201 filas y las siguientes columnas:

In [ ]:
import pandas as pd
import numpy as np

a. Una a la que denominaremos t, con los números entre 0 y 4 separados por 
intervalos de 0.02. Es decir: 0, 0.02, 0.04, …, 4

b. Otra con el seno de t a la que llamaremos s.

In [16]:
separacion = 0.02

contador = 0
columna = [[],[],[]]


while contador <4:
    columna[0].append(contador)
    columna[1].append(np.sin(contador))
    contador = round(contador+separacion,2)

c. Otra con el seno el valor que tiene el seno de t 10 registros posteriores al que 
llamaremos s10. Sugerencia: El método shift de un data frame de pandas permite 
crear columnas a partir del desplazamiento de la posición de otras.

In [33]:
df = pd.DataFrame(data = {'t':col[0], 's':col[1]})
df['s10'] = np.sin(df['s'])
df['s10'] = df['s10'].shift(periods=10)

d. Otra columna a la que llamaremos d que será la diferencia entre las dos anteriores.

In [41]:
df['d'] = df['s']-df['s10']
df

        t         s       s10         d
0    0.00  0.000000       NaN       NaN
1    0.02  0.019999       NaN       NaN
2    0.04  0.039989       NaN       NaN
3    0.06  0.059964       NaN       NaN
4    0.08  0.079915       NaN       NaN
..    ...       ...       ...       ...
195  3.90 -0.687766 -0.505392 -0.182374
196  3.92 -0.702146 -0.519863 -0.182283
197  3.94 -0.716246 -0.534002 -0.182243
198  3.96 -0.730058 -0.547805 -0.182253
199  3.98 -0.743579 -0.561268 -0.182311

[200 rows x 4 columns]

e. Otra columna a la que llamaremos p. Esta columna será igual a 1 si el registro de la 
columna d es positivo y 0 si es negativo

In [45]:
df.loc[df['d'] >0, 'p'] = 1
df.loc[df['d'] <0, 'p'] = 0
df

        t         s       s10         d    p
0    0.00  0.000000       NaN       NaN  NaN
1    0.02  0.019999       NaN       NaN  NaN
2    0.04  0.039989       NaN       NaN  NaN
3    0.06  0.059964       NaN       NaN  NaN
4    0.08  0.079915       NaN       NaN  NaN
..    ...       ...       ...       ...  ...
195  3.90 -0.687766 -0.505392 -0.182374  0.0
196  3.92 -0.702146 -0.519863 -0.182283  0.0
197  3.94 -0.716246 -0.534002 -0.182243  0.0
198  3.96 -0.730058 -0.547805 -0.182253  0.0
199  3.98 -0.743579 -0.561268 -0.182311  0.0

[200 rows x 5 columns]

f. Guarda el resultado en un archivo “.csv” separado por “;”.

In [54]:
df.to_csv("out2.csv",  sep=';')

(2 puntos) Carga el archivo creado en un nuevo programa

In [58]:
ndf = pd.read_csv('out.csv', sep=';')

La última columna m será la media de los valores positivos si p es 1 y la media de los 
valores negativos si p es 0. Sugerencia: los métodos groupby y transform pueden 
encadenarse. Documentación método transform

Crea finalmente un data frame de solo dos filas con el sumatorio de los valores 
negativos de la columna d y el sumatorio de los valores positivos de la columna d. 
Sugerencia: El método groupby será suficiente.

(1 punto) Para practicar con la depuración del código: Repara el programa subido al aula 
virtual. exercice_debug_1.py

In [59]:
#MODIFY EACH STEP IN ORDER TO RUN COMPLETLY THE PROGRAM
print('STEP 1')

for i in range(0,11):
    x = i

print(f'x should be 10:{x}')
if x == 10:
    print('SUCCESS! IN STEP 1')
print('STEP 2')
x = False

for i in range(0,11):
    x = x or True
    if x and  i == 5:
        break 
    

print(f'x should be True:{x}')
print(f'i should be 5:{i}')
if i == 5 and x:
    print('SUCCESS! IN STEP 2')

STEP 1
x should be 10:10
SUCCESS! IN STEP 1
STEP 2
x should be True:True
i should be 5:5
SUCCESS! IN STEP 2

6. (1 punto) Calcula el septuagésimo tercer (73º) número primo.

In [65]:
##Definir un numero primo
def es_primo(n):
    # Comprobamos si n es 2 (unico primo par)
    if n == 2:
        return True

    # Comprobamos si es menor de 2 o es par
    if n < 2 or not n % 2:
        return False

    # Comprobamos si es divisible entre cualquier entero impar entre 3 y sqrt(n)
    return not any(n % i == 0 for i in range(3, int(n**0.5) + 1, 2))



## variable globales        
    
list_primos =[]


# esta funcion revisa si en el orden de la lista la multiplicacion entre los digitos es igual a la posicion de la lista
def lista_primo (num):
    pos_lista_primo = 0 #variable de conteo
    primo = 1 #valor evaluado

    
    while pos_lista_primo < num:
        primo +=1
        if es_primo(primo):
            pos_lista_primo +=1
            list_primos.append([pos_lista_primo, primo])

lista_primo (73)
print(list_primos[72])

[73, 367]

(1 punto) Sube a un repositorio de git hub un programa que encuentre un intervalo que 
tenga 73 números no primos seguidos y compártelo a través de su link en Git Hub.

In [70]:
##Definir un numero primo
def es_primo(n):
    # Comprobamos si n es 2 (unico primo par)
    if n == 2:
        return True

    # Comprobamos si es menor de 2 o es par
    if n < 2 or not n % 2:
        return False

    # Comprobamos si es divisible entre cualquier entero impar entre 3 y sqrt(n)
    return not any(n % i == 0 for i in range(3, int(n**0.5) + 1, 2))



## variable globales        
    
list_primos =[]


# esta funcion revisa si en el orden de la lista la multiplicacion entre los digitos es igual a la posicion de la lista
def lista_primo (num):
    pos_lista = 0 #variable de conteo
    numero = 1 #valor evaluado

    
    while pos_lista < num:
        numero +=1
        if es_primo(numero)!= True:
            pos_lista +=1
            print(pos_lista, numero)

lista_primo (73)
print(list_primos)

1 4
2 6
3 8
4 9
5 10
6 12
7 14
8 15
9 16
10 18
11 20
12 21
13 22
14 24
15 25
16 26
17 27
18 28
19 30
20 32
21 33
22 34
23 35
24 36
25 38
26 39
27 40
28 42
29 44
30 45
31 46
32 48
33 49
34 50
35 51
36 52
37 54
38 55
39 56
40 57
41 58
42 60
43 62
44 63
45 64
46 65
47 66
48 68
49 69
50 70
51 72
52 74
53 75
54 76
55 77
56 78
57 80
58 81
59 82
60 84
61 85
62 86
63 87
64 88
65 90
66 91
67 92
68 93
69 94
70 95
71 96
72 98
73 99
[]